extends layout

block content
  h1= title

  - let Yearid = toShow._id
  - let Day = toShow.Day
  - let Week = toShow.Week
  - let Month = toShow.Month 

  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Yearid} 
  - let actionid = "/resource/Year/" + Yearid 
  form(id='YearForm', action= actionid, method="PUT") 
    div.form-group 
      label.YearAttr(for='Day') Year Day
      input#Day(type='text', Day='Day', value= Day ) 
    div.form-group 
      label.YearAttr(for='Week') Year Week
      input#Week(type='number', Day='Week', value= Week ) 
    div.form-group 
      label.YearAttr(for='Month') Year Month
      input#Month(type='text', Day='Month', value= Month ) 
    input(type="submit") 
 
  script. 
    document.forms['YearForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 