extends layout 
 
block content 
  h1= title 
 
  - let Yearid  = toShow._id 
  - let Day  = toShow.Types
  - let Week   = toShow.NumberOfLang
  - let Month  = toShow.Data 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Yearid} 
  - let actionid = "/resource/Year/" + Yearid 
  form(id='YearForm', action= actionid, method="PUT") 
    div.form-group 
        label.YearAttr(for='Types') Day 
        input#Types(type='text', name='Year_type', value= Day  ) 
    div.form-group 
        label.YearAttr(for='size') Week   
        input#NumberOfLang(type='number', name='size', value= Week) 
    div.form-group 
        label.YearAttr(for='cost') Month 
        input#Data(type='text', name='cost', value= Data ) 
    input(type="submit") 

    button(class="btn btn-secondary m-2" onclick="window.location.href='/Year'") Cancel 
 
  script. 
    document.forms['YearForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });